.DS_Store
.vscode
node_modules/
yarn-error.log
.obsidian
/bin/modules/urls.sh
*.env
.expo
# Compiled TypeScript files
**/*.js
**/*.js.map
**/*.d.ts
!app/scripts/*
!app/app.config.js
!app/metro.config.js
!packages/delete-account/**/jest.config.js
!packages/delete-account/**/babel.config.js
!packages/delete-account/**/app.config.js
!packages/delete-account/**/cli.js
!packages/delete-account/**/convert-base64.js
!packages/delete-account/**/__mocks__/**/*.js
!packages/delete-account/**/public/scripts/**/*.js

# Build directories
dist/
build/
lib/
out/

# TypeScript build info
*.tsbuildinfo
