.DS_Store
.vscode
node_modules/
yarn-error.log
.obsidian
.gitmodules
/bin/modules/urls.sh
*.env
.expo
# Compiled TypeScript files
**/*.js
**/*.js.map
**/*.d.ts
!app/scripts/*
-la packages/delete-account/*/jest.config.js
-la packages/delete-account/*/babel.config.js
-la packages/delete-account/*/app.config.js
-la packages/delete-account/*/cli.js
-la packages/delete-account/*/convert-base64.js
-la packages/delete-account/*/__mocks__/**/*.js
-la packages/delete-account/*/public/scripts/**/*.js
-la packages/delete-account/*/packages/delete-account/**/*.js

# Build directories
dist/
build/
lib/
out/

# TypeScript build info
*.tsbuildinfo
