.DS_Store
node_modules
.expo

.env

src/redux/config.ts

# Firebase
ios/GoogleService-Info.plist
ios/GoogleService-Info.plist.*
android/app/google-services.json
android/app/google-services.json.*

# assets
ios/app/Images.xcassets
android/app/src/main/res