name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Hello there! Thank you so much for being a first time contributor to the OKY project! We are glad to have you here!"
        pr-message: "Sensational! You just succsessful made your first Pull Request to the OKY project! The first of many"